@import "Styles/variables.scss";

.footer {
  background: $bgLightGrey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 2em 4em;
  gap: 3em;
}
