@import "Styles/variables.scss";

.newsletterCon {
  position: relative;
  height: 500px;
  background: $bgRed;
  .contentCon {
    position: relative;
    box-shadow: $lightShadow;
    width: 60%;
    max-width: 600px;
    min-width: 320px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border-radius: 0.2em;
    padding: 3em;
  }
}
