@import "Styles/variables.scss";

.newsletterCon {
  position: relative;
  height: 500px;
  background: $bgRed;
  .contentMainCon {
    position: relative;
    box-shadow: $lightShadow;
    width: 60%;
    max-width: 600px;
    min-width: 300px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 1em;
    .contentCon {
      background: #fff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      border-radius: 0.2em;
      padding: 3em;
      border: 3px solid $bgRed;
    }
  }
}
