@import "Styles/variables.scss";

.newsletterCon {
  position: relative;
  height: 500px;
  background: $bgRed;
  .contentCon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
