@import "Styles/variables.scss";

.container {
  font-family: $fontRoboto;
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .label {
    transition: 0.1s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $fontLabel;
    &:hover {
      cursor: pointer;
    }
  }
  .input {
    color: $fontInput;
    max-width: 320px;
    width: 100%;
    border: 2px solid $fontInput;
    appearance: none;
    background: transparent;
    padding: 0.8em;
    border-radius: 0.2em;
    outline: none;
    transition: border-color 0.1s ease-out;
    &:focus + .label,
    &:valid + .label {
      transition: 0.1s;
      top: 0;
      font-size: 0.8em;
      color: $bgRed;
      background: $bgWhite;
      padding: 0 0.8em;
    }
    &:focus,
    &:valid {
      border-color: $bgRed;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.invalidInput {
  .input {
    border-color: $inputInvalid;
    color: $inputInvalid;
    &:focus {
      border-color: $inputInvalid;
      color: $inputInvalid;
    }
  }
  .label {
    color: $inputInvalid !important;
  }
}

.inputErrorMessage {
  font-weight: 500;
  font-size: 0.8em;
  color: $inputInvalid;
  position: absolute;
  top: 120%;
}
