@import "styles/variables.scss";

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  @include scrollbar;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@media (max-width: 700px) {
  :root {
    font-size: 12px;
  }
}
