@import "Styles/variables.scss";

.cardCon {
  border-radius: 0.5em;
  background: $bgCard;
  padding: 0.7em;
  box-shadow: $lightShadow;
  .cardWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: $bgCard;
    padding: 2em;
    width: 100%;
    border-radius: 0.5em;
    border: 3px solid $fontNav;
  }
}
