@import "Styles/variables.scss";

.button {
  background: $bgRed;
  border-radius: 0.2em;
  border: none;
  padding: 0.3em 1em;
  color: $fontPlaceholder;
  font-family: $fontRoboto;
  font-weight: 500;
  font-size: 1em;
  &:hover {
    cursor: pointer;
    background: $fontNavHover;
  }
  &:disabled {
    background: rgba(0, 0, 0, 0.2);
    &:hover {
      cursor: auto;
    }
  }
}
